{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
   <h1 class="my-4"> {{ statuses }}</h1>
    <a class="nav-link" href="{% url "status_add" %}">{% translate "Create status" %}</a>
    <table class = "table table-striped">
        <tr>
            <th>{{ ID }}</th>
            <th>{{ name }}</th>
            <th>{{ created_at }}</th>
            <th></th>
        </tr>
        {% for status in object_list %}
            <tr>
                <td> {{status.id}}</td>
                <td> {{status.name}}</td>
                <td> {{status.date_joined}}</td>
                <td>
                    <a href = "{% url "status_update" status.id %}">{% translate "edit" %}</a><br>
                    <a href = "{% url "status_delete" status.id %}">{% translate "remove" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}