.env/
.venv/
env/
venv/
*.env

*.pyc
db.sqlite3
staticfiles/

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache

.idea/*
.python-version

.mypy_cache

/releases/*
pip-wheel-metadata
/poetry.toml

