{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
   <h1 class="my-4"> {{ header }}</h1>
    <table class = "table table-striped">
        <tr>
            <th>{{ ID }}</th>
            <th>{{ username }}</th>
            <th>{{ full_name }}</th>
            <th>{{ created_at }}</th>
            <th></th>
        </tr>
        {% for user in object_list %}
            <tr>
                <td> {{user.id}}</td>
                <td> {{user.username}}</td>
                <td> {{user}} </td>
                <td> {{user.date_joined}}</td>
                <td>
                    <a href = "{% url "user_update" user.id %}">{% translate "edit" %}</a><br>
                    <a href = "{% url "user_delete" user.id %}">{% translate "remove" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
