<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load i18n %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
    {% bootstrap_jquery %}
    <title>{% translate "Task manager" %}</title>
</head>
<body class="bg-light">
{% include "nav.html" %}
<main role="main" class="container">
    <div class="mt-5 p-5 bg-white rounded shadow-sm">
        {% bootstrap_messages %}
        {% block page_content %}
        {% endblock %}
    </div>
</main>
</body>
</html>

