{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
    <h1 class="my-4"> {{ header }}</h1>
    <form method="post" action=".">
    {% csrf_token %}
        <div class = "form">
            <table>
            {%  for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
                <tr><td>           </td></tr>
                <tr>
                    <td><input class="btn btn-primary" type="submit" value="{{ button_title }}"></td>
                </tr>

            </table>
        </div>
    </form>
{% endblock %}
