{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
    <div class="container wrapper flex-grow-1">
    <h1 class="my-4"> {{ header }}</h1>

        <form method="post" action=".">
            {% csrf_token %}
            {%  for field in form %}
                <div class = "form-group">
                    {% bootstrap_field field %}
                </div>
            {% endfor %}
                <div class = "form-group">
                    <input class="mt-3 btn btn-primary" type="submit" value="{{ button_title }}">
                </div>
    </form>
    </div>
{% endblock %}
