<div class = "card mb-3">
    {% load bootstrap4 %}
    <div class = "container my-3">
           <form method="get">
               {% for field in filter.form %}
               <div class="form-group">
                    {% bootstrap_field field %}
               </div>
               {% endfor %}
               <div class="form-group">
                     {% bootstrap_button select button_type="submit" button_class="mt-3 btn btn-primary" %}
                   </div>
           </form>
        </div>
    </div>