{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
   <h1 class="my-4"> {{ header }}</h1>
    <a class="nav-link" href="{% url "task_add" %}">{% translate "Create task" %}</a>
    <table class = "table table-striped">
        <tr>
            <th>{{ ID }}</th>
            <th>{{ task_header }}</th>
            <th>{{ status_header }}</th>
            <th>{{ author_header }}</th>
            <th>{{ performer_header }}</th>
            <th>{{ created_date_header }}</th>
            <th></th>
        </tr>
        {% for task in object_list %}
            <tr>
                <td> {{task.id}} </td>
                <td><a href = "{% url "task_view" task.id %}">{{task.name}}</a></td>
                <td> {{task.status.name}} </td>
                <td> {{task.author}} </td>
                <td>
                    {% if task.performer %}
                        {{task.performer}}
                        {% else %}

                    {% endif %}
                </td>
                <td> {{task.date_joined}} </td>
                <td>
                    <a href="{% url "task_update" task.id %}">{% translate "edit" %}</a>
                    <br>
                    <a href="{% url "task_delete" task.id %}">{% translate "remove" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}