{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
   <h1 class="my-4"> {{ header }}</h1>
    <a class="nav-link" href="{% url "task_add" %}">{% translate "Create task" %}</a>
    <table class = "table table-striped">
        <tr>
            <th>{{ ID }}</th>
            <th>{{ task_name }}</th>
            <th>{{ status_name }}</th>
            <th>{{ author_name }}</th>
        </tr>
        {% for task in object_list %}
            <tr>
                <td> {{task.id}} </td>
                <td><a href = "{% url "task_view" task.id %}">{{task.name}}</a></td>
                <td> {{task.status.name}} </td>
                <td> {{task.author}} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}